<p id="who">
  <strong>Who:</strong>
  The course is aimed at graduate students and other researchers.
  <strong>
    You don't need to have any previous knowledge of the tools
    that will be presented at the workshop. That being said, 
    in order to get the most out of these lessons, it is best to already 
    be familiar with the basics of Python (for MRI material) and Matlab (for EEG material) 
    programming, along the lines of what is taught in the 
    Software Carpentry lessons Plotting and Programming in Python, 
    Programming with Python and Programming with Matlab.
  </strong>
</p>
